.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form h2 {
  text-align: center;
  color: #c94141;
}

.auth-form input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.auth-form input:focus {
  outline: none;
  border-color: #e27373;
}

.auth-btn {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #e27373;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-btn:hover {
  background-color: #c94141;
}

.auth-switch {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
